<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register - TaskFlow</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background: linear-gradient(135deg, #0f172a, #1e293b);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Inter;
        }

        .card {
            width: 420px;
            border-radius: 16px;
            padding: 30px;
            background: white;
        }
    </style>
</head>

<body>

    <div class="card">

        <h3 class="mb-3 text-center">Create Account</h3>

        <form>

            <input class="form-control mb-3" placeholder="Full Name">

            <input class="form-control mb-3" placeholder="Email">

            <input type="password" class="form-control mb-3" placeholder="Password">

            <button class="btn btn-success w-100">Register</button>

        </form>

        <p class="text-center mt-3">
            Already have account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>

</html>