<!DOCTYPE html>
<html>

<head>

    <title>Task Manager</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="container">

        <h1>Task Manager</h1>

        <div class="task-form">

            <input
                type="text"
                id="title"
                placeholder="Task Title"
            >

            <button onclick="addTask()">
                Add Task
            </button>

        </div>

        <div id="task-list">

        </div>

    </div>

    <script
        src="{{ url_for('static', filename='js/app.js') }}"
    ></script>

</body>

</html>